#login-image {
    margin-top: 10%;
}

#login-form {
    margin-top: 20%;
}

.loginbox {
    margin-top: 20px;
    text-align: left;
}

#loginbutton {
    background-color: #343971;
    border-color:#343971;
}