#signup-image {
    margin-top: 25%;
}

#signup-form {
    margin-top: 10%;
    margin-bottom: 10%;
}

.signupbox {
    margin-top: 20px;
}

#signupbutton {
    background-color:#343971;
    border-color: #343971;
}