#nav-bar {
    background-color:#343971;
}

.navbarbuttons {
    background-color: #343971;
    border-color: #000000;
    margin-right: 10px;
    color:rgb(238, 238, 238);
}

.navbarbuttons:hover {
    border-color:#000000;
    background-color: #343971;
}

#nav-brand {
    color:  rgb(238, 238, 238);
}

#landingPageLink {
    text-decoration: none;
    color: aliceblue;
}

.react-datetime-picker {
    background-color: antiquewhite;
}

.react-datetime-picker input {
    width: unset !important;
}